<%- include('../layout/head.ejs')  %>

<body class="books-detail">

    
    <%- include('../layout/header.ejs') %>
    
    <main>
            books detail page

    </main>

    <%- include('../layout/footer.ejs') %>

</body>

</html>