<%- include('../../layout/head.ejs')  %>

<body class="books-show">

    
    <%- include('../../layout/header.ejs') %>
    
    <main>
            books show wth does this page even do

    </main>

    <%- include('../../layout/footer.ejs') %>

</body>

</html>