<%- include('../../layout/head.ejs')  %>

<body class="new-searches">

    <%- include('../../layout/header.ejs') %>

    <main>
            <h1>New Search</h1>
        <form id="book-search" action="/searches" method="post">

            <fieldset>
            <legend>Search by Title or Author
            <input type="text" name="search" class="book-search-box" placeholder="Enter a title or author" tabindex="0">
        </legend>
        </fieldset>


            <fieldset class="book-radio-buttons radio-buttons">
                <label>Title:
                    <input type="radio" name="type" value="title" tabindex="1" checked>
                </label>
            <label>Author:
                    <input type="radio" name="type" value="author" tabindex="2">
            </label>
            </fieldset>

            <fieldset>
            <button type="submit" id="book-search-button" tabindex="4">Search the Google Book API</button>
        </fieldset>
        </form>

    </main>

    <%- include('../../layout/footer.ejs') %>

</body>

</html>