<%- include('../layout/head.ejs') %>

<body class="error-page">

    <%- include('../layout/header.ejs') %>

    <main>
        <h2>Error</h2>
        <p class="error">Uh-oh. Looks like reading has been cancelled forever.</p>
    </main>

    <%- include('../layout/footer.ejs') %>

</body>

</html>