<% include('../layout/head.ejs') %>

<body class="error-page">

    <% include('../layout/header.ejs') %>

    <main>
        <article class="error"><% error  %></p>
    </main>

    <% include('../layout/footer.ejs') %>

</body>

</html>