<% include('layout/head.ejs') %>

<body class="">

    <% include('layout/header.ejs') %>

    <main>
        <p>This is /main</p>
    </main>

    <% include('layout/footer.ejs') %>

</body>

</html>