<%- include('../layout/head.ejs')  %>

<body class="front-page">

    <%- include('../layout/header.ejs') %>

    <main>
        <h2>Main page</h2>
    </main>

    <%- include('../layout/footer.ejs') %>

</body>

</html>