* {
    box-sizing: border-box;
}

body {background:#333;}

main {
    padding: 24px;
    min-height: 75vh;
    background: #888;;
}

.book-grid {
    display: grid;
    grid-gap:24px;
    grid-template-columns: 1fr;
}

@media(min-width:640px){
    .book-grid {
    grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:1024px){
    .book-grid {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1280px){
    .book-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

